.container {
background-color: rgb(184,0,0);
text-align: center;
color: aliceblue;
}
.movie {
  image-rendering: auto;
  color: aliceblue;
  text-align: center;
  
}
img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
form {
  width: 100%;
  padding: 12px x 20px;
  border-radius: 4px;
}

table {
  width: 100%;
  padding: 12px x 20px;
  border-radius: 4px;
}

